.col-md-4
  .tariff-box
    .tariff-name
      h4.tariff-name-h #{tarifname}
    .tariff-main-opt.text-center
      p #{tarifspeed}<br><small>Мбит/с</small>
    .tariff-price-box
      .tariff-price #{tarifprice} <small>руб/мес</small>
      .tariff-btn-box
        button.btn-main-action подключить
    .tariff-discprice-box
      .tariff-discprice-head При оплате за 6 месяцев
      .tariff-discprice #{tarifprice} <small>руб/мес</small>
      .tarif-discpricesum 5 100 руб <br>на счет
    .tariff-discprice-box
      .tariff-discprice-head При оплате за 12 месяцев
      .tarif-discpricesum 5 100 руб <br>на счет
      .tariff-discprice #{tarifprice} <small>руб/мес</small>